.headshot {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

@media screen and (max-width: 736px) {
  #banner {
    text-align: center;
  }
}

@media screen and (max-width: 736px) and (min-width: 481px) {
  .tiles article {
    height: 30em;
  }
}
